
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #121212;
}

.jumbotron
{
	background-color: #222 ;
	color:#888;
}

.my-4
{
	background-color: #333 ;
}