
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
}

.jumbotron
{
	background-color: #fdfdfd;
	color:#000;
	padding-bottom: 48px;
}

.my-4
{
	background-color: #fcfcfc;
}

.btn-light {
    background-color: #f1f1f1;
}