html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {

  background-color: #f9f9f9;
}

.jumbotron
{
	background-color: #fdfdfd;
	color:#000;
	margin-top: 80px;
	padding-bottom: 48px;
}

.my-4
{
	background-color: #fcfcfc;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#MyNavBar
{
	padding-left: 25%!important;
    padding-right: 25%!important;
	padding-top: 0px!important;
	padding-bottom: 2px!important;
}

#MyNavPage
{
	padding-top: 10px!important;
}

#MyNavSocial
{
	padding-top: 10px!important;
}

#Logo
{
	width: 260px;
}